h1{
    text-align: center;
    /* background-color: rgb(0,255,255); */
}
.container{
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}
.marker{
    height: 25px;
    width: 200px;
    margin: 10px auto;
}
.sleeve{
    /* border-left-width: 10px;
    border-left-style: solid;
    border-left-color: black; */
    border-left: 10px double rgba(0, 0, 0, .75);
    background-color: rgba(255, 255, 255, .5);
    width: 110px;
    height: 25px;
}
.cap{
    width: 60px;
    height: 25px;
}
.cap,.sleeve{
    display: inline-block;
}
.red{
    box-shadow: 0 0 20px rgba(83, 14, 14, 0.8);
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113) , rgb(162, 27, 27));
}
.green{
    box-shadow: 0 0 20px #3b7e20cc;
    background: linear-gradient(#55680d, #71f53e, #116c31);
}
.blue{
    box-shadow: 0 0 20px hsla(223, 59%, 31%, .8);
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
}
/*
    Primary Colors:
        Red(255,0,0),
        Green(0,255,0),
        Blue(0,0,255)

    Secondary Colors:
        Yellow(255,255,0),
        Cyan(0,255,255),
        Magenta(255,0,255),

    Tertiary Colors: 
        Orange(255,127,0),
        Spring Green(0,255,127),
        Violet(127,0,255),
        Chartreuse Green(127,255,0),
        Azure(0,127,255),
        Rose(255,0,127)

    RGB model:
        rgb(red green blue)
    Hex values:
        #000000
    HSL model:
        hsl(hue saturation% lightness%)
*/